<?xml version="1.0" ?>

<robot name="bot_mh5" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find motoman_mh5_support)/urdf/mh5_macro.xacro" />
	<xacro:motoman_mh5 prefix=""/>

	<!-- .......... GAZEBO SUPPORT .............. -->
	<xacro:include filename="$(find motoman_mh5_support)/urdf/mh5.gazebo">
		<arg name="prefix" value="${prefix}" />
	</xacro:include>


</robot>
